<html>
    <div>
        <form id="pascalForm" action="/pragadeesh/bubble/" method="POST" >
            <input style="margin-left: 20px" class="col-1" name="str" id="str" type="string">
            <button class="button_cont">Derive</button>
        </form>
        <h4 style="font-size: 20px; text-align: center; font-family: Times">enter string</h4>
        <div class="col-12" style="text-align: center; font-size: 2pt; font-family: Times ">
            </br>
            <!-- Series -->
            <!--{% for str in listS.listS %}
            <h3>{{str}}</h3>
            {% endfor %}-->
        </div>
    </div>
</html>