<html>
    <div>
        <form id="pascalForm" action="/pragadeesh/bubble/" method="POST" >
            <input style="margin-left: 20px" class="col-1" name="str" id="str" type="string">
            <button class="button_cont">Derive</button>
        </form>
        <h4 style="font-size: 20px; text-align: center; font-family: Times">enter string</h4>
        <div class="col-12" style="text-align: center; font-family: Times ">
            </br>
            {{bubble.listO}}
            {% for iter in bubble.listIter %}
            <h3>{{iter}}</h3>
            {% endfor %}
            <!-- Series -->
            {{bubble.listS}}
        </div>
    </div>
</html>