<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ali's Blueprint</title>
</head>
<body>
<h1>Ali</h1>
<h2>Ali's Mini-Lab</h2>
<div>
    <form id="factorialform" action="/ali/Aliminilab/" method="POST" >
        <input style="margin-left: 20px" class="col-1" name="row" id="row" type="number" min="1" max="20" >
        <button class="button_cont">Derive</button>
    </form>
    <h4 style="font-size: 20px; text-align: center; font-family: Times">Please select values.</h4>
    <div class="col-12" style="text-align: center; font-size: 2pt; font-family: Times ">
        </br>
        <!-- Series -->
    </div>
    <h3>{{minilab.output}}</h3>
    <h4>{{minilab.work}}</h4>
</div>
</body>
</html>
