<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ali's Blueprint</title>
</head>
<body>
<h1>Ali</h1>
<h2>Ali's Mini-Lab</h2>
<iframe height="1200px" width="100%" src="https://replit.com/@AliSaad1/shrimpy?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</body>
<div class="container">
    <div class="card">
        <div class="card-body">
            {{fact1}}
</html>
