{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Ayman's Mini-Labs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<style>
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    img{
        height: 100%;
        width: 100%;
    }

</style>

<body>
<h1 style="color: white; text-align: center; font-family: Palatino; font-size: 45pt; font-weight: bold">Ayman's Mini Labs</h1>
<div class="container">
    <img src="/static/bp_static/minilabcode.png" alt="Mini Labs" class="center">
</div>
<div>

</div>

</body>
</html>
{% endblock %}