{% extends "base.html" %}

{% block head %}
    <title> Mini Lab 1 </title>
{% endblock %}

{% block content %}
    <style>
        h2{
            margin-top: 4%;
            color: white;
            text-align: center;
        }
    body{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    }
    h3{
        color: white;
    }
    input{
        width: 95%;
        position: center;
        border: none;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-bottom: 2px solid darkslateblue;
        border-radius: 4px;
        margin-top: 4%;
    }
    .center-block{
        margin: auto;
        display: block;
    }
    button{
        margin-top: calc(4%);
        left: 40%;
        position: relative;
        display: inline-block;
        width: 277px;
        height: 50px;
        font-size: 1em;
        font-weight: bold;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        background-color: transparent;
        cursor: pointer;
        text-decoration:none;
        font-family: 'Roboto', sans-serif;
        font-weight:900;
        font-size:17px;
        letter-spacing: 0.045em;
        border:none;
    }


    button svg {
        position: absolute;
        top: 0;
        left: 0;
    }

    button svg rect {
    //stroke: #EC0033;
        stroke-width: 4;
        stroke-dasharray: 353, 0;
        stroke-dashoffset: 0;
        -webkit-transition: all 600ms ease;
        transition: all 600ms ease;
    }

    button span{
        background: rgb(255,130,130);
        background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
        background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    button:hover svg rect {
        stroke-width: 4;
        stroke-dasharray: 196, 543;
        stroke-dashoffset: 437;
    }
    </style>
    <body>
    <h2>Factoring Algorithm with Python Classes and Objects</h2>
    <div>
        <form id="factorForm" action="/ayman/lab1/" method="POST" >
            <input class="center-block" name="list" id="list" type="number" min="1" max="1000000" placeholder="Enter your value here...">
            <button>
                <svg width="277" height="62">
                    <defs>
                        <linearGradient id="grad1">
                            <stop offset="0%" stop-color="#FF8282"/>
                            <stop offset="100%" stop-color="#E178ED" />
                        </linearGradient>
                    </defs>
                    <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
                </svg>
                <span>Get Those Factors!</span>
            </button>
        </form>
        <div class="col-12" style="text-align: center; ">
            <!-- Series -->
            {% for factor in list.list %}
                <h3>{{factor}}</h3>
            {% endfor %}
        </div>
    </div>
    </body>
{% endblock %}