<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navodit</title>
    <style>
        body{
            background-color: #f7d9a1;
        }
        h1{
            text-align: center;
            font-family: "Lucida Console", "Courier New", monospace;
        }
        img{
            width: 1000px;
            align-self: center;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>
<h1>Navodit's Mini Labs</h1>
<img src="/static/bp_static/ComingSoon.png" alt="ComingSoon" class="center">
</body>
</html>