{% extends "base.html" %}

{% block head %} <!-- uses Jinja in the tab title to define our name -->
    <title> Final Project Deliverable </title>
{% endblock %}

{% block content %}
    <head>
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        P2-Platypodes Climate Change Tracker Final Deliverable
                    </h2>
                    <p>
                        The P2-Platypodes are proud to present our Climate Change Tracker! Please browse through our deliverable to view each team member's contributions. You can also get to know the site a little better and understand it's various features. Thanks for your visit, we hope you enjoy!
                    </p>
                </div>

                <br>
                <hr>
                <br>

                <h2 style="text-align: center">
                    Theme Section
                </h2>
                <h4 style="text-align: center; color: red">
                    (5/5)
                </h4>


                <br>


                <h3>
                    User Interactions
                </h3>
                <br>
                <div class="row">
                    <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                        <p></p>
                        <h5 style="text-align: center">Home</h5>
                        <p></p>
                        <img class="center" src="/static/deliverable/home.png" width="300" height="166">
                        <p></p>
                        <ul><a href="/">Home</a> footer with various interactive elements leading to routes of many pages on the website.</ul>
                        <ul>Home with general elements to describe features of the website.</ul>
                    </div>
                    <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                        <p></p>
                        <h5 style="text-align: center">Informational Pages</h5>
                        <p></p>
                        <img class="center" src="/static/deliverable/information.png" width="300" height="166">
                        <p></p>
                        <ul><a href="/info/">Information page</a> acts as a menu that holds the different information pages.</ul>
                        <ul>Each item links to each information page</ul>
                        <ul>Offers users an interactive element and choose an information page.</ul>
                    </div>
                    <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                        <p></p>
                        <h5 style="text-align: center">Quick Statistics</h5>
                        <p></p>
                        <img class="center" src="/static/deliverable/quickstats.png" width="300" height="166">
                        <p></p>
                        <ul><a href="/qstat/">Quick Statistics</a> page displays various climate change statistics as well as some corresponding pictures.</ul>
                        <ul>The pictures are presented in a gallery view for the user to interact with.</ul>
                    </div>

                </div>
                <br>
                <br>
                <div class="row">
                    <div style="background-color: #eaecef; border-radius: 3px; margin-left: 357.5px" class="col-md-6">
                        <p></p>
                        <h5 style="text-align: center">Hotspots</h5>
                        <p></p>
                        <img class="center" src="/static/deliverable/hotspot.png" width="300" height="166">
                        <p></p>
                        <ul><a href="/hotspots/">Hotspots</a> page lays out a comprehensive list of countries who are key contributors to climate change or countries that are most affected by climate change.</ul>
                        <ul>Galleries and carousels are present on this page to allow user interactivity to experience the various ways certain countries have been affected.</ul>
                    </div>
                </div>


                <br>


                <h3>
                    Project Technicals
                </h3>
                <br>
                <div class="row">
                    <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                        <p></p>
                        <h5 style="text-align: center">Map</h5>
                        <p></p>
                        <img class="center" src="/static/deliverable/mapofclimatechange.png" width="300" height="166">
                        <p></p>
                        <ul>The <a href="/map/">Map</a> page houses the visual aspect of the API.</ul>
                        <ul>This page is entirely data driven and has tables that are automatically updated through iterative Jinja variables.</ul>
                        <ul>The map includes an intitive key to represent certain degrees of climate change.</ul>
                    </div>
                    <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                        <p></p>
                        <h5 style="text-align: center">Login</h5>
                        <p></p>
                        <img class="center" src="/static/deliverable/login.png" width="300" height="164">
                        <p></p>
                        <ul><a href="/login/">Login</a> can be paired with the <a href="/register/">Register</a> to create a credentials system for access to a dashboard</ul>
                        <ul>User access to other pages in the website is not impeded.</ul>
                        <ul>The entire login and register functionality is taken care of by secure SQLite databases that manage and store credentials.</ul>
                    </div>
                    <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                        <p></p>
                        <h5 style="text-align: center">Feedback</h5>
                        <p></p>
                        <img class="center" src="/static/deliverable/feedback.png" width="300" height="166">
                        <p></p>
                        <ul>The <a href="/feedback/">Feedback</a> page is a page that allows users to give constructive comments on the website as a whole</ul>
                        <ul>All data from the feedback is stored into a secure SQLite database. Collection process is entirely data driven with GET and POST.</ul>
                    </div>
                </div>


                <br>
                <br>


                <div class="row">
                    <div style="background-color: #eaecef; border-radius: 3px; margin-left: 357.5px" class="col-md-6">
                        <p></p>
                        <h5 style="text-align: center">Survey</h5>
                        <p></p>
                        <img class="center" src="/static/deliverable/placeholder.png" width="300" height="166">
                        <p></p>
                        <ul>The <a href="/survey/">Survey</a> is a data collection tool that can allow us to gather climate change information from users and make further analysis.</ul>
                        <ul>This page can be accessed throughout the website with the popup that allows you to take a quick survey for analytic purposes.</ul>
                        <ul>The data is stored in a secure SQLite database and collection is entirely backend driven.</ul>
                    </div>
                </div>


                <br>
                <h3>
                    Informative Development
                </h3>

                <br>

                <div class="row">
                    <div style="background-color: #eaecef; border-radius: 3px; margin-left: 357.5px" class="col-md-6">
                        <p></p>
                        <h5 style="text-align: center">Causes Page</h5>
                        <p></p>
                        <img class="center" src="/static/deliverable/causes.png" width="300" height="166">
                        <p></p>
                        <ul>The <a href="/info/causes/">Causes</a> page is a comprehensive page that details many causes of global warming.</ul>
                        <ul>Every aspect of this page is organized in a professional format, similar to a newspaper article.</ul>
                        <ul>The page's arrangement is creative due to it's aesthetic setup that immerses users</ul>
                        <ul>The minimalist design language carries across to this page, but keeps it detailed at the same time.</ul>
                        <ul>This informative page allows the users to learn something and take away some key issues that exacerbate climate change.</ul>
                        <ul>Users have a better understanding of climate change and can even apply information from this page to their own lives.</ul>
                    </div>
                </div>

            </div>
        </div>

        <br>
        <hr>
        <br>

        <h2 style="text-align: center">
            Individual Section
        </h2>


        <br>


        <!-- Ayman's Individual Section -->

        <h3>
            Ayman Kazi
        </h3>
        <h4 style="color: red">
            (5/5)
        </h4>
        <br>
        <div class="row">
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Blueprint</h5>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <a href="/pragadeesh"><p style="text-align: center">Link to Blueprint<p></p></a>
                <p></p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Labs</h5>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <p style="text-align: center">Pascal's Triangle Lab</p>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <p style="text-align: center">Bubble Sort Lab</p>
                <p></p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Technicals</h5>
            </div>
        </div>

        <!-- Ayman's Individual Section -->

        <br>
        <br>

        <!-- Pragadeesh's Individual Section -->

        <h3>
            Pragadeesh Raj
        </h3>
        <h4 style="color: red">
            (5/5)
        </h4>
        <br>
        <div class="row">
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Blueprint</h5>
                <p></p>
                <img class="center" src="/static/deliverable/prblueprint.png" width="300" height="169">
                <p></p>
                <a href="/pragadeesh"><p style="text-align: center">Link to Blueprint<p></p></a>
                <p></p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Labs</h5>
                <p></p>
                <img class="center" src="/static/pragadeesh_bp/Pascal1.png" width="300" height="145">
                <p></p>
                <p style="text-align: center">Pascal's Triangle Lab</p>
                <p></p>
                <img class="center" src="/static/pragadeesh_bp/bubble1.png" width="300" height="144">
                <p></p>
                <p style="text-align: center">Bubble Sort Lab</p>
                <p></p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Technicals</h5>
                <p></p>
                <ul>Menu system on <a href="/pragadeesh">the main page.</a></ul>
                <ul>Modal for AP resources on <a href="/pragadeesh">the main page.</a></ul>
                <ul>Modal for AP resources on <a href="/pragadeesh">the main page.</a></ul>
                <ul>Carousels of the featured labs on <a href="/pragadeesh">the main page.</a></ul>
                <ul>String input for <a href="/pragadeesh/bubble/">the bubble sort.</a></ul>
                <ul>String output for <a href="/pragadeesh/bubble/">the bubble sort.</a></ul>
                <p></p>
                <p>Total:</p>
                <p style="color: red">6 Technicals</p>
            </div>
        </div>

        <!-- Pragadeesh's Individual Section -->


        <br>
        <br>


        <!-- Navodit's Individual Section -->

        <h3>
            Navodit Maheshwari
        </h3>
        <h4 style="color: red">
            (5/5)
        </h4>
        <br>
        <div class="row">
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Blueprint</h5>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <a href="/pragadeesh"><p style="text-align: center">Link to Blueprint<p></p></a>
                <p></p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Labs</h5>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <p style="text-align: center">Pascal's Triangle Lab</p>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <p style="text-align: center">Bubble Sort Lab</p>
                <p></p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Technicals</h5>
            </div>
        </div>

        <!-- Navodit's Individual Section -->


        <br>
        <br>

        <!-- Ali's Individual Section -->

        <h3>
            Ali Saad
        </h3>
        <h4 style="color: red">
            (4/5)
        </h4>
        <br>
        <div class="row">
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Blueprint</h5>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <a href="/pragadeesh"><p style="text-align: center">Link to Blueprint<p></p></a>
                <p></p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Labs</h5>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <p style="text-align: center">Pascal's Triangle Lab</p>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <p style="text-align: center">Bubble Sort Lab</p>
                <p></p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Technicals</h5>
            </div>
        </div>

        <!-- Ali's Individual Section -->


        <br>
        <br>

        <!-- Mustafa's Individual Section -->

        <h3>
            Mustafa Sharaf
        </h3>
        <h4 style="color: red">
            (2.5/5)
        </h4>
        <br>
        <div class="row">
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Blueprint</h5>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <a href="/pragadeesh"><p style="text-align: center">Link to Blueprint<p></p></a>
                <p></p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Labs</h5>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <p style="text-align: center">Pascal's Triangle Lab</p>
                <p></p>
                <img class="center" src="/static/deliverable/placeholder.png" width="300" height="169">
                <p></p>
                <p style="text-align: center">Bubble Sort Lab</p>
                <p></p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
                <p></p>
                <h5 style="text-align: center">Technicals</h5>
            </div>
        </div>

        <!-- Mustafa's Individual Section -->


        <br>
        <br>

    </div>

    <br>

    <hr>
    <h2 style="text-align: center">
        API
    </h2>
    <h4 style="text-align: center; color: red">
        (3/5)
    </h4>

    <br>
    <div class="row">
        <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
            <p></p>
            <h5 style="text-align: center">API List Form</h5>
            <p></p>
            <img class="center" src="/static/deliverable/apilist.png" width="300" height="167">
            <p></p>
            <h5 style="text-align: center">API Table Form</h5>
            <img class="center" src="/static/deliverable/apitable.png" width="300" height="161">
            <p></p>
        </div>
        <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
            <p></p>
            <h5 style="text-align: center">Tools and Endpoints</h5>
            <p></p>
            <img class="center" src="/static/deliverable/postman.png" width="300" height="188">
            <p></p>
            <p style="text-align: center">Postman</p>
            <img class="center" src="/static/deliverable/endpointsadd.png" width="300" height="180">
            <p></p>
            <img class="center" src="/static/deliverable/endpointsadd.png" width="300" height="158">
            <p></p>
            <p style="text-align: center">Endpoints in the Backend</p>
        </div>
        <div style="background-color: #eaecef; border-radius: 3px; margin-left: 90px" class="col-md-3">
            <p></p>
            <h5 style="text-align: center">Notes</h5>
            <p></p>
            <ul>API was in-house and developed by the team using Postman only.</ul>
            <ul>API was integrated into the cc_data.db database to store the data that we are collected (climate change data)</ul>
            <ul>Crossover API is incomplete, however, endpoints do exist.</ul>
            <img class="center" src="/static/deliverable/endpointspostcrossover.png" width="300" height="139">
            <p></p>
            <p>Summary:</p>
            <p style="color: red">-2 for missing Crossover API</p>
        </div>
    </div>

        <br>
        <hr>
        <br>

    <h2 style="text-align: center">
        Deployment Section
    </h2>
    <h4 style="text-align: center; color: red">
        (5/5)
    </h4>
    <br>

        <div class="row">
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 165px" class="col-md-4">
                <p></p>
                <h3 class="text-center">
                    How it was Made
                </h3>
                <p></p>
                <p>
                    description
                </p>
            </div>
            <div style="background-color: #eaecef; border-radius: 3px; margin-left: 165px" class="col-md-4">
                <p></p>
                <h3 class="text-center">
                    Commercial
                </h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/W_YLQeprAFU" title="Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p></p>
            </div>
        </div>

        <br>
        <hr>
        <br>

    <h2 style="text-align: center">
        Project Highlights
    </h2>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div style="margin: 20px" class="carousel slide" id="carousel-830205">
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" data-target="#carousel-830205" class="active">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-830205">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-830205">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" alt="Carousel Bootstrap First" src="/static/deliverable/mapofclimatechange.png" />
                            <div class="carousel-caption">
                                <h4 style="background-color: #2f90d0">
                                    Map of Climate Change
                                </h4>
                                <p style="background-color: #2f90d0">
                                    Descriptive map representing data points as well as key data points represented in a table below.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" alt="Carousel Bootstrap Second" src="/static/deliverable/hotspot.png" />
                            <div class="carousel-caption">
                                <h4 style="background-color: #2f90d0">
                                    Hotspots Page
                                </h4>
                                <p style="background-color: #2f90d0">
                                    A detailed page describing the situations in each country that has been hit the hardest with climate change or appears to be a major cause of climate change.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" alt="Carousel Bootstrap Third" src="/static/deliverable/blueprint.png" />
                            <div class="carousel-caption">
                                <h4 style="background-color: #2f90d0">
                                    Blueprint Pages
                                </h4>
                                <p style="background-color: #2f90d0">
                                    This menu holds access to all the blueprint pages which are personal projects of each team member and put together with the utmost care.
                                </p>
                            </div>
                        </div>
                    </div> <a class="carousel-control-prev" href="#carousel-830205" data-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only">Previous</span></a> <a class="carousel-control-next" href="#carousel-830205" data-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}