<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}
    {% endblock %}
</head>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='confirmation.css') }}">
</head>
<body>
<card class="card">
    <h3 style="text-align: center; color: #78788c; font-family: Palatino">Your response has been recorded! Thank you, the feedback means self lot to us.</h3>
    <h4 style="color: #ffffff">~</h4>
    <a href="/"><button>Return Home</button></a>
    <h4 style="color: #ffffff">~</h4>
    <a href="/feedback/"><button>Submit Another Response</button></a>
</card>
</body>
</html>