* {
    margin: 0;
    padding: 0;
    font-family: "Times", sans-serif;
}

body_about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #781111;
}

.cards_about {
    color: #323030;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card_about {
    border-radius: 10px;
    margin: 40px;
    position: relative;
    max-width: 250px;
    max-height: 350px;
    background-color: white;
    box-shadow: 10px 20px 50px -30px black;
}

.card-title_about {
    display: block;
    text-align: center;
    color: #78788c;
    background-color: white;
    padding: 2%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card_about img {
    width: 80%;
    height: 80%;
    align-content: center;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    position: relative;
}

img.center {
    display: block;
    margin: 0 auto;
}

.card-desc_about {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: white;
    overflow-y: scroll;
    transition: 0.8s ease;
}

.card_about:hover .card-desc_about {
    opacity: 1;
    height: 100%;
}