{% extends "base.html"%}

{% block head %}
<title> Meet the Platypodes </title>
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">
</head>
<body style="background-color: #59ABE3"></body>

</br>
<h1 style="font-family: Palatino; color: white; text-align: center">Meet the Platypodes</h1>
</br>
</br>
<h2 style="font-family: Palatino; color: white; text-align: center">Get to know the developers and their backgrounds self bit better!</h2>
<div class="cards_about">
    <div class="card_about">
        <h2 style="font-size: 20pt" class="card-title_about"><i style="margin-right: 0.3em; color: gray" class="fab fa-html5"></i>Ayman Kazi</h2>
        <img class="center" src="/static/Developers/Ayman.jpg" alt="">
        <p class="card-desc_about">Your input</p>
    </div>
    <div class="card_about">
        <h2 style="font-size: 20pt" class="card-title_about"><i style="margin-right: 0.3em; color: gray" class="fab fa-css3-alt"></i> Pragadeesh Raj</h2>
        <img class="center" src="/static/Developers/Pragadeesh.jpg" alt="">
        <p class="card-desc_about">Your input.</p>
    </div>
    <div class="card_about">
        <h2 style="font-size: 20pt" class="card-title_about"><i style="margin-right: 0.3em; color: gray" class="fas fa-database"></i>Ali Saad</h2>
        <img class="center" src="/static/Developers/Ali.jpg" alt="">
        <p class="card-desc_about">Your input.</p>
    </div>
    <div class="card_about">
        <h2 style="font-size: 20pt" class="card-title_about"><i style="margin-right: 0.3em; color: gray" class="fas fa-code"></i>Navodit Maheshwari</h2>
        <img class="center" src="/static/Developers/Navodit.png" alt="">
        <p class="card-desc_about">Your input.</p>
    </div>
</div>
{% endblock %}