{% extends "base.html" %}

{% block head %} <!-- uses Jinja in the tab title to define our name -->
    <title> The Team's Blueprints </title>
{% endblock %}

{% block content %}
    <header>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='blueprint.css') }}">
    </head>
    <body>
    <table>
        <thead>
        <tr>
            <th>Member</th>
            <th>Blueprint</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ayman</td>
            <td><a href = "/ayman/">Page</a></td>
        </tr>
        <tr>
            <td>Pragadeesh</td>
            <td><a href = /pragadeesh/>Page</a></td>
        </tr>
        <tr>
            <td>Navodit</td>
            <td><a href = /navodit/>Page</a></td>
        </tr>
        <tr>
            <td>Ali</td>
            <td><a href = /ali/Aliminilab>Page</a></td>
        </tr>
        <tr>
            <td>Mustafa</td>
            <td><a href = /mustafa/>Page</a></td>
        </tr>
        </tbody>
    </table>
    </body>
{% endblock %}