<html>
<head>
    <title>Causes and Patterns</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='infosubset.css') }}">

</head>
<body>
<div class="parallax-wrapper">
    <div class="hero parallax-content"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/sterling-davis-4iXagiKXn3Y-unsplash-min.jpg" alt="Photo of city during a sunset by Sterling Davis"/>
        <div class="hero__title">
            <h1>Causes and Patterns</h1>
            <h2>regarding Climate Change</h2>
            <!--<p>Photo by Sterling Davis on <a href="https://unsplash.com/photos/4iXagiKXn3Y" target="_blank">Unsplash</a></p>-->
        </div>
    </div>
    <div class="main-content">
        <div class="scroll-icon-container">
            <svg class="icon--down-arrow" viewBox="0 0 24 24">
                <path d="M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z"></path>
            </svg>
        </div>
        <h2 style="text-align:center">Top 10 Causes of Global Warming </h2>
        <h5>Global warming looms large over humanity. According to the EPA, worldwide greenhouse gas emissions attributed to human activities increased twenty six percent from 1990 to 2005.
            The rise in carbon dioxide concentrations in the atmosphere accounts for approximately eighty percent of this increase.
            Often debated, the effects of global warming on the planet and the human population are frightening and mostly self-inflicted.</h5>

        <h6>1. Power Plants</h6>
        <p> Forty percent of U.S. carbon dioxide emissions stem from electricity production. Ninety-three percent of the electric industry emissions result from burning coal.
            According to the EPA coal-fired power plants, municipal and medical waste incineration account for two-thirds of U.S. mercury emissions.
        </p>
        <img src="https://www.wwf.org.au/Images/UserUploadedImages/416/img-coal-power-station-1000px.jpg" alt="A large coal power station in the UK with barbed wire in the foreground"/>

        <hr>

        <h6>2. Deforestation & Tree-Clearing</h6>
        <p><b>Plants and trees play an important role in regulating the climate because they absorb carbon dioxide from the air and release oxygen back into it.</b></p>
        <p>Forests and bushland act as carbon sinks and are a valuable means of keeping global warming to 1.5°C.</p>
        <p>But humans clear vast areas of vegetation around the world for farming, urban and infrastructure development or to sell tree products such as timber and palm oil.
            When vegetation is removed or burnt, the stored carbon is released back into the atmosphere as CO2, contributing to global warming.
        </p>
        <p><b>Up to one-fifth of global greenhouse gas pollution comes from deforestation and forest degradation.</b></p>
        <img src="https://www.wwf.org.au/Images/UserUploadedImages/416/img-deforestation-tree-clearing-1000px.jpg" alt="Bushfire and deforestation in Australian outback">

        <hr>

        <h6>3. Transportation </h6>
        <p>
            EPA reports state that thirty-three percent of U.S. emissions come from the transportation of people and goods.
        </p>

        <hr>

        <h6>4. Farming</h6>
        <p>
            Industrial farming and ranching releases huge levels of methane and carbon dioxide into the atmosphere.
            Farming contributes forty percent of the methane and twenty percent of the carbon dioxide to worldwide emissions.
        </p>

        <hr>

        <h6>5. Fertilizers</h6>
        <p>
            The use of nitrogen-rich fertilizers increases the amount of heat cropland can store.
            Nitrogen oxides can trap up to 300 times more heat than carbon dioxide.
            Sixty-two percent of nitrous oxide released comes from agricultural byproducts.
        </p>

        <hr>

        <h6>6. Oil Drilling</h6>
        <p>
            Burn-off from the oil drilling industry impacts the carbon dioxide released into the atmosphere.
            Fossil fuel retrieval, processing and distribution accounts for roughly eight percent of carbon dioxide and thirty percent of methane pollution.
        </p>

        <hr>

        <h6>7. Natural Gas Drilling</h6>
        <p>
            Touted as a cleaner fuel source, natural gas drilling causes massive air pollution in states like Wyoming; the hydraulic fracturing technique used to extract natural gas from shale deposits pollutes ground water sources as well.
        </p>

        <hr>

        <h6>8. Permafrost</h6>
        <p>
            The melting of permafrost releases tons of trapped green house gases which further speeds up the melting of more permafrost.
            Scientists calculate that approximately five-hundred gigatons of carbon is trapped in the Siberian permafrost alone. A single gigaton equals one billion tons.
        </p>

        <hr>

        <h6>9. Garbage</h6>
        <p>
            As trash breaks down in landfills, it releases methane and nitrous oxide gases.
            Approximately eighteen percent of methane gas in the atmosphere comes from waste disposal and treatment.
        </p>

        <hr>

        <h6>10. Volcanic Eruptions</h6>
        <p>
            Volcanoes expel large quantities of carbon dioxide when they erupt.
            Volcanoes have an overall small effect on global warming and an eruption causes a short-term global cooling as ash in the air reflects greater amounts of solar energy.
        </p>
    </div>
</div>
</body>
</html>