{% extends "base.html" %}
{% block head %}
    <title> Extra Information </title>
    <!--<link rel = "stylesheet" type = "text/css" href = "/templates/ stylesheets/ info.css"/>-->
{% endblock %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='information.css') }}">
    </head>

    <body>

    <h6 style="text-align: left">Dark Mode</h6>
    <label class="switch">
        <input onclick="myFunction()" type="checkbox">
        <span class="slider round"></span>
    </label>

    <a href = "/info/faq/">
        <div class="promo" style="--overlay-color: hotpink">
            <div class="image-wrapper" >
                <img src="https://images.unsplash.com/photo-1554620121-59e7f3f6e3a4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ " />
            </div>
            <h2 style="color:#2acaec" class="title" data-cta="Learn some stuff →">Some FAQ</h2>
        </div>
    </a>

    <a href = "/info/prevention/">
        <div class="promo" style="--overlay-color: yellow">
            <!-- -->
            <div class="image-wrapper">
                <img src="https://images.unsplash.com/photo-1523806762236-1d3a6b7eb3fd?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ"/>
            </div>
            <h2 style="color:#2acaec" class="title" data-cta="Go eco →">Prevention Tips</h2>
        </div>
    </a>

    <a href = "/info/causes/">
        <div class="promo" style="--overlay-color: #C83E77">
            <!--https://images.unsplash.com/photo-1548008116-bcfec1f4c812?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ -->
            <div class="image-wrapper">
                <img src="https://live.staticflickr.com/5484/12004131706_2c0f366685_b.jpg"/>
            </div>
            <h2 style="color:#2acaec" class="title" data-cta="Smoky... →">Causes & Patterns</h2>
        </div>
    </a>

    <a href = "https://www.nrdc.org/stories/global-warming-101">
        <div class="promo" style="--overlay-color: #D291BC">
            <!--https://images.unsplash.com/photo-1569335048491-5fb94951e885?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ -->
            <div class="image-wrapper">
                <img src="https://static.scientificamerican.com/sciam/cache/file/66865348-D82E-4938-BC9214985A3D402F_source.png"/>
            </div>
            <h2 style="color:#2acaec" class="title" data-cta="More knowledge awaits →">Learn More</h2>
        </div>
    </a>
    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>
    </body>
{% endblock %}