
{% block head %}
<title> Map Test </title>
{% endblock %}

{% block content %}
<html>
    <body>
        <div>
            <form id="MapForm" action="/map/" method="POST" >
                <input style="border-radius: 20px" class="col-1" name="int" id="int" type="integer">
                <button style="margin-left: 20px" class="btn btn-primary">Color!</button>
            </form>
            <h1 style="color: black">Hello</h1>
            <svg width="400" height="110">
                <rect width="300" height="100" style="fill:#1e457f;stroke-width:3;stroke:#1e457f" />
            </svg>
        </div>
    </body>
</html>
{% endblock %}
