{% block head %}
    <title> Climate Change Map </title>
{% endblock %}

{% block content %}
    <html>
    <table>
        <tr>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">Name</th>
            <th style="text-align: center">Carbon Footprint</th>
            <th style="text-align: center">Paris Agreement</th>
        </tr>

        {% for row in table %}
            <tr>
                <td style="text-align: center">{{ row['id'] }}</td>
                <td style="text-align: center">{{ row['name'] }}</td>
                <td style="text-align: center">{{ row['carbon_footprint'] }}</td>
                <td style="text-align: center">{{ row['paris_agreement'] }}</td>
            </tr>
        {% endfor %}
    </table>
    </html>
{% endblock %}
