<!-- temp, will change -->

<html>
<head>
    <title>Prevention</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='infosubset.css') }}">

</head>
<body>
<div class="parallax-wrapper">
    <div class="hero parallax-content"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/sterling-davis-4iXagiKXn3Y-unsplash-min.jpg" alt="Photo of city during a sunset by Sterling Davis"/>
        <div class="hero__title">
            <h1>Prevention Tips</h1>
            <h2>on Climate Change</h2>
            <!--<p>Photo by Sterling Davis on <a href="https://unsplash.com/photos/4iXagiKXn3Y" target="_blank">Unsplash</a></p>-->
        </div>
    </div>
    <div class="main-content">
        <div class="scroll-icon-container">
            <svg class="icon--down-arrow" viewBox="0 0 24 24">
                <path d="M11,4H13V16L18.5,10.5L19.92,11.92L12,19.84L4.08,11.92L5.5,10.5L11,16V4Z"></path>
            </svg>
        </div>
        <h2 style="text-align:center">Learn how to prevent this global phenomenon...</h2>
        <h6>1. Change a light</h6>
        <p>
            Replacing one regular light bulb with a compact fluorescent light bulb will save 150 pounds of carbon dioxide a year.
        </p>
        <h6>2. Drive less</h6>
        <p>
            Walk, bike, carpool or take mass transit more often. You'll save one pound of carbon dioxide for every mile you don't drive! Also, new electric alternates can make a huge impact.
        </p>
        <h6>3. Drive a fuel-efficient vehicle</h6>
        <p>
            Gas-smart cars, such as hybrids and fully electric vehicles, save fuel and money. And once all cars and light trucks meet 2025’s clean car standards, which means averaging 54.5 miles per gallon, they’ll be a mainstay.
            For good reason: Relative to a national fleet of vehicles that averaged only 28.3 miles per gallon in 2011, Americans will spend $80 billion less at the pump each year and cut their automotive emissions by half. Before you buy a new set of wheels, compare fuel-economy performance here.
        </p>
        <h6>... and Maintain your ride!</h6>
        <p>
            If all Americans kept their tires properly inflated, we could save 1.2 billion gallons of gas each year. A simple tune-up can boost miles per gallon anywhere from 4 percent to 40 percent, and a new air filter can get you a 10 percent boost.
        </p>
        <h6>4. Use less hot water</h6>
        <p>
            It takes a lot of energy to heat water. Use less hot water by taking shorter and cooler showers and washing your clothes in cold or warm instead of hot water (more than 500 pounds of carbon dioxide saved per year).
        </p>
        <h6>5. Avoid products with a lot of packaging</h6>
        <p>
            You can save 1,200 pounds of carbon dioxide if you reduce your garbage by 10 percent.
        </p>
        <h6>6. Adjust your thermostat</h6>
        <p>
            Moving your thermostat down just 2 degrees in winter and up 2 degrees in summer could save about 2,000 pounds of carbon dioxide a year.
        </p>
        <h6>7. Plant a tree</h6>
        <p>
            A single tree will absorb one ton of carbon dioxide over its lifetime.
        </p>
        <h6>8. Turn off electronic devices</h6>
        <p>
            Simply turning off your television, DVD player, stereo, and computer, when you're not using them, will save you thousands of pounds of carbon dioxide a year.
        </p>
        <h6>9. Power your home with renewable energy</h6>
        <p>
            Choose a utility company that generates at least half its power from wind or solar and has been certified by Green-e Energy, an organization that vets renewable energy options.
            If that isn’t possible for you, take a look at your electric bill; many utilities now list other ways to support renewable sources on their monthly statements and websites.
        </p>
        <h6>10. Actually eat the food you buy-and make less of it meat.</h6>
        <p>
            Approximately 10 percent of U.S. energy use goes into growing, processing, packaging, and shipping food—about 40 percent of which just winds up in the landfill.
            And since livestock products are among the most resource-intensive to produce, eating meat-free meals can make a big difference, too.
        </p>

    </div>
</div>
</body>
</html>